body{
    color: navy;
    font-family: 'Gill Sans MT';
    background-color: powderblue;
}
img{
    border-radius: 8px;
    width: 200;
    height: 250;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
